body {
  font-family: "Open Sans", sans-serif;
  display: flex;
    font-size: 1.5em;
    align-items: center;
}
header {
  width: 90%;
  display: flex;
  align-items: center;
}
nav {
  background-color: #fbf7e3;
  width: 90%;
  padding: 1em;
  margin: 1em;
  border-radius: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}
#logo {
  background-image: url(../assets/imgs/logo.png);
  width: 2.5em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-size: contain;
}


li button {
  background-color: #f3df85;
display: flex;
  border: none;
  border-radius: 6em;
  padding: 0.9em 1.2em;
  font-size: 1em;
  order: 1;
}

#shop {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 8em;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.7em 0em 0.7em 0em;
  justify-content: space-around;
  order: 0;
  align-self: flex-start;
}

button a {
  text-decoration: none;
  color: #612406;
}
